{% extends "base.html" %}

{% block content %}
<section class="section">
    <h1 class="title">Social Media</h1>
    <div class="columns">
        <div class="column">
            <a href="mailto:{{ config.extra.social.mail }}" class="button">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <span>Email</span>
            </a>
        </div>
        <div class="column">
            <a href="https://fosstodon.org/{{ config.extra.social.mastodon }}" class="button">
                <span class="icon">
                    <i class="fab fa-mastodon"></i>
                </span>
                <span>Mastodon</span>
            </a>
        </div>
        <div class="column">
            <a href="https://twitter.com/{{ config.extra.social.twitter }}" class="button">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
                <span>Twitter</span>
            </a>
        </div>
        <div class="column">
            <a href="https://linkedin.com/in/{{ config.extra.social.linkedin }}" class="button">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="column">
            <a href="https://github.com/{{ config.extra.social.github }}" class="button">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
            </a>
        </div>
    </div>
</section>

<section class="section">
    <h1 class="title">Support Me</h1>
    <div class="columns">
        <div class="column">
            <a href="https://github.com/sponsors/{{ config.extra.support.github }}" class="button">
                <span class="icon">
                    <i class="far fa-heart"></i>
                </span>
                <span>Github Sponsors</span>
            </a>
        </div>
        <div class="column">
            <a href="https://liberapay.com/{{ config.extra.support.github }}/donate" class="button">
                <span class="icon">
                    <i class="fab fa-gratipay"></i>
                </span>
                <span>Liberapay</span>
            </a>
        </div>
    </div>
</section>
{% endblock content %}