{% extends "base.html" %}

{% block content %}
<section class="section">
  <h1 class="title is-2">Biography</h1>
  <div class="content">
    {{ section.content | safe }}
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="subtitle">Interests</h2>
      <ul>
        {% for interest in section.extra.interests %}
        <li>{{ interest }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="column">
      <h2 class="subtitle">Education</h2>
      <ul>
        {% for institute in section.extra.education %}
        <li>
          <p><strong>{{ institute.degree }}</strong></p>
          <p>{{ institute.name }}</p>
          <p>{{ institute.year }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<hr>

{{ macros::recent_items(title="Recent Posts", post_section=get_section(path="posts/_index.md")) }}

<hr>

{{ macros::recent_items(title="Recent Projects", post_section=get_section(path="projects/_index.md")) }}
{% endblock content %}