{% macro tags_list(page) %}
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<a href="{{ get_taxonomy_url(name=tag, kind="tags") }}" class="tag is-primary">
  {{ tag }}
</a>
{% endfor %}
{% endif %}
{% endmacro tags_list %}

{% macro date_format(print_date) %}
{% if print_date %}
<span class="post-date column is-narrow">{{ print_date | date(format="%Y-%m-%d") }}</span>
{% endif %}
{% endmacro date_format %}

{% macro taxonomy_pages(term) %}
<div class="columns">
  <h1 class="title column">
    # <a href="{{ term.permalink }}">{{term.name | upper }}</a>
  </h1>
  <span class="icon column is-narrow has-text-info is-large">
    <a href="{{term.permalink}}atom.xml">
      <i class="fas fa-rss fa-solid"></i>
    </a>
  </span>
</div>
<div class="content">
  <ul>
    {% for page in term.pages %}
    <li>
      <div class="columns">
        <a href="{{page.permalink}}" class="column">{{page.title}}</a>
        <div class="column is-narrow">
          {{ self::date_format(print_date=page.date) }}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro taxonomy_pages %}

{% macro recent_items(post_section, title) %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h2 class="title">{{ title }}</h2>
    </div>
    <div class="column">
      {% for page in post_section.pages | slice(end=3) %}
      <div class="post">
        <h3>
          <a href="{{ page.permalink }}">
            {{ page.title }}
          </a>
        </h3>
        <p>
          {{ page.description }}
        </p>
        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endmacro recent_items %}