{% extends "base.html" %}

{% block content %}

<section class="section">
    <h1 class="title has-text-centered">
        {{terms | length}} Tags
    </h1>

    <div class="columns is-centered">
        <div class="tags column is-narrow">
            {% for term in terms %}
            <a href="{{ term.permalink }}" class="tag is-primary is-large">
                {{ term.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</section>


{% for term in terms %}
<section class="section">
    {{ macros::taxonomy_pages(term=term) }}
</section>
{% endfor %}
{% endblock content %}