[submodule "themes/DeepThought"]
  path = themes/DeepThought
  url = https://github.com/Ayush1325/DeepThought.git
  branch = "custom-theme"
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/Jieiku/abridge.git
